*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(netflix.jpg);
    overflow-y: hidden;
    overflow-x: hidden;
}
.container{
   width: 100%;
   height:900px;
   background-color: rgba(0,0,0,0.9);
}
.first img{
        width: 150px;
        margin-left: 150px;
        height: 50px;
        margin-top: 50px;
}
.first a{
    display:inline-block;
    color: white;
    background-color: red;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 500px;
    margin-top: 50px;
    text-align: center;
    padding-top: 5px;
    font-family:sans-serif ;
}
.first{
    width: 1400px;
    height: 200px;
    display: grid;
    grid-template-columns:50% 50% ;
}
.second{
    width: 1000px;
    height: 400px;
    margin-bottom: 1500px;
    margin-left: 300px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
}
input{
    width: 380px;
    height: 60px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px ;
    border: 1px solid white;
    color: white;
    font-size: 17px;
}
input::placeholder{
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
}
button{
    height: 60px;
    color: white;
    border: none; 
    border-radius: 5px;
    background-color: red;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}
span{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 900;
}
input,button{
    margin-top: 20px;
}
